{% extends "base.html" %}
{% block title %}Title{% endblock %}
{% block content %}
<form action="/3" method="POST">
	<div class="mt-2 text-xl font-bold text-gray-700 dark:text-white">
		Get Passenger list between ages
		</div>
    <div class="grid gap-6 mb-6 md: p-4">
        <div class="mb-6">
            <label for="minage" class="label-primary" >
                Enter Minimum age</label>
            <input type="number" id="minage" name="minage" class="input-primary" min="0" max="120" required>
        </div>
        <div class="mb-6">
            <label for="maxage" class="label-primary">
                Enter Maximum age</label>
            <input type="number" id="maxage" name="maxage" class="input-primary" min="0" max="120" required>
        </div>
        <button type="submit" class="submit-primary">Submit</button>
    </div>
</form>
{% endblock %}